/databases
/logs/*
.env
.idea
!.gitkeep
/www/node_modules
/www/public/hot
/www/public/storage
/www/storage/logs
/www/storage/*.key
/www/vendor
/www/.idea
/www/.env
/www/.env.backup
/www/composer.lock
/www/.phpunit.result.cache
/www/Homestead.json
/www/Homestead.yaml
/www/npm-debug.log
/www/yarn-error.log
